     body {
     font-family: 'Roboto', sans-serif;
    font-size: 12px;
   
}

h3 {
    font-size: 24px;
}

.price {
    font-size: 18px;
}

.discount {
    font-size: 16px;
    color: green;
}

.description {
    font-size: 16px;
}

.burger-menu {
    text-align: center;
    color: white;
    font-size: 2em;
    background-color:blue;
    width: 40px;
    margin: auto;
    height: 30px;
    border-radius: 10px;
    padding: 3px;
    
}

.objetos-footer {
    text-align: center;
}

.footer-icon {
    color: blue;
    font-size: 2em;
}

header {
    background-color: #EAC926;
}

main {
    text-align: center;
    width: 90%;
   
    
}

article {
    margin-bottom: 10px;
    
}

.delivery-icon {
  font-size: 2em;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid green;
  color: green;
  align-items: center;
  justify-content: center;


}

ul {
    list-style-type: none;
}

.caja-hija {
    border-top: 1px solid #ebebeb;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 361px) {
    body {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu {
        display: none;
    }
}

@media (min-width: 769px) {
   body {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }
   .burger-menu {
       display: none;
   }
}

@media (max-width: 360px) {
    .description {
        display: none;
    }
    .nav-bar {
        display: none;
    }
}

.precio-descuento {
    display: flex;
   
}
.price {
    width: 30%;
    
}
.discount {
    width: 70%;
    
}



.contenedor-productos {
    display: flex;
  width: 100%;
  flex-wrap: wrap;
  
  
    
   
}

@media (min-width: 1024px) {
    .contenedor-productos article {
        width: 25%!important;
        
    }
}

@media (min-width: 768px) {
    .contenedor-productos article {
        width: 50%;
        
    }
}

.imagen-producto img {
    max-width: 100%;
}

.contenedor-logo-busqueda {
    display: flex;
    padding: 20px;
   align-items: center;
   
}

.logo {
    width: 50%;
    
}

.busqueda {
    width: 50%;
    
    
}

@media (min-width: 768px) {
  .contenedor-barrasuperior {
      display: flex;
      width: 100vw;
      align-items: center;
  }
  .contenedor-barrainferior {
      display: flex;
      width: 100%;
      justify-content: space-between
  }
}

@media (min-width: 1024px){
.description {
    opacity: 0;
    transition: all 300ms;
}

article:hover .description {
    opacity: 1;
}}

.delivery-icon {
    transition: all 2s;
}

.delivery-icon:hover {
   transform: rotate(360deg);
}




.caja-hija {
    box-shadow: 0px 0px 5px 11px rgba(0,0,0,0);
    transition: all 300ms;
}

.caja-hija:hover {
    box-shadow: -2px 11px 5px 11px rgba(0,0,0,0.57);
}

.boton style {
    background-color: unset;
    transition: all 300ms;
}

.boton:hover button {
    background-color: #0022AA;
}

@media (min-width: 1024px) {

.objetos-footer {
    display: flex;
}
}

.copyright {
    text-align:start;
}

.footer-icon {
    transition: all 300ms;
}

.footer-icon:hover {
    color: #EAC926;
    
}

.banner img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin:auto;
    display:block;
    
}