     body {
     font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h3 {
    font-size: 24px;
}

.price {
    font-size: 18px;
}

.discount {
    font-size: 16px;
}

.description {
    font-size: 16px;
}

.burger-menu {
    text-align: center;
    color: white;
    font-size: 2em;
    background-color:blue;
    width: 40px;
    margin: auto;
    height: 30px;
    border-radius: 10px;
    
}

footer {
    text-align: center;
}

.footer-icon {
    color: blue;
    font-size: 2em;
}

header {
    background-color: #EAC926;
}

main {
    text-align: center;
    width: 90%;
}