     body {
     font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h3 {
    font-size: 24px;
}

.price {
    font-size: 18px;
}

.discount {
    font-size: 16px;
}

.description {
    font-size: 16px;
}

.burger-menu {
    text-align: center;
    color: blue;
}

footer {
    text-align: center;
}

.footer-icon {
    color: blue;
}

header {
    background-color: #EAC926;
}

main {
    text-align: center;
    width: 90%;
}